In [2]:
import pandas as pd

In [ ]:
 
users = ['Harold', 'Emory', 'GT']
groups = ['GT', 'Emory', 'GT']
passwords = ['password', 'password', 'password']
last_login = ["", "", ""]
df = pd.DataFrame(list(zip(users, groups, passwords, last_login)),
               columns =['Username', 'User_Group', 'password', 'last_login'])
df.to_csv('user_info.csv', index=False)
df

In [6]:
df = pd.read_csv(r'C:\Users\ethan\Documents\ResearchFinder\user_info.csv')
df = df.iloc[:3]

In [7]:
def add_user(username, affiliation, password, df):
    df2 = pd.DataFrame(list(zip([username], [affiliation], [password], [""])),
               columns =['Username', 'User_Group', 'password', 'last_login'])
    return pd.concat([df, df2])
df = add_user('n.mokarram@gmail.com', 'Emory','FErmeNAbA',df)
df = add_user('tanenbaum.m@gmail.com', 'Emory','TELIStATa',df)
df

                Username User_Group   password  last_login
0                 Harold         GT   password         NaN
1                  Emory      Emory   password  2023-10-09
2                     GT         GT   password         NaN
0   n.mokarram@gmail.com      Emory  FErmeNAbA
0  tanenbaum.m@gmail.com      Emory  TELIStATa

In [8]:
df.to_csv(r'C:\Users\ethan\Documents\ResearchFinder\user_info.csv', index=False)

: